---
title: Succulents
layout: base.hbs
scripts:
- /assets/js/details
styles:
- /assets/css/details
---

<section class="container details" aria-labelledby="details-heading">
  <div class="details__description stack">
    <h1 id="details-heading">{{title}}</h1>

    {{{content}}}
  </div>
  <div class="details__preview stack">
    <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
      <{{tag}} class="details__graphic"></{{tag}}>
    </div>

    <div class="button-group button-group__centered">
      <button class="button js-refresh" autocomplete="off">Refresh</button>
      <button class="button js-play" autocomplete="off">Play</button>
      <button class="button js-pause" disabled autocomplete="off">Pause</button>
      <button class="button js-download" autocomplete="off">Download</button>
    </div>
  </div>
</section>

{{!-- TODO: Section with heading --}}
<div class="bonus-listings">
  <div class="container container--wide bonus-listings__inner">
    {{!-- TODO: For Loop helper --}}
    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>

    <div class="bonus-listings__listing">
      <div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
        <{{tag}} class="bonus-listings__graphic"></{{tag}}>
      </div>
    </div>
  </div>
</div>