---
title: Succulents
layout: base.hbs
scripts:
- /assets/js/details
---

<h1>{{title}}</h1>

{{{content}}}

<div class="embed-loader" style="--aspect-ratio: {{height}}/{{width}};">
  <{{tag}} class="details"></{{tag}}>
</div>

<div>
  <button class="js-refresh">Refresh</button>
  <button class="js-slideshow">Slideshow</button>
</div>