---
layout: base.hbs
scripts:
- /assets/js/listings
styles:
- /assets/css/listings
---

{{{content}}}

<ul class="listings">
  {{#each collections.art}}
  <li class="card">
    <{{data.tag}} class="card__graphic"></{{data.tag}}>
    <a href="{{url url}}" class="card__primary-action">
      {{data.title}}
    </a>
  </li>
  {{/each}}
</ul>

{{!-- TODO: Move this --}}
{{#each collections.art}}
{{!-- TODO: Clean this up --}}
<script src="/art/{{data.slug}}/{{data.slug}}.js" type="module"></script>
{{/each}}