---
layout: base.hbs
scripts:
- /assets/js/listings
styles:
- /assets/css/listings
---

<div class="container container--min stack">
  {{{content}}}

  <ul class="listings">
    {{#each collections.art}}
    <li class="card">
      <div class="card__graphic-wrapper embed-loader" style="--aspect-ratio: {{data.height}}/{{data.width}};">
        <{{data.tag}} class="card__graphic"></{{data.tag}}>
      </div>
      <a href="{{url url}}" class="card__primary-action">
        {{data.title}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>

{{!-- TODO: Move this --}}
{{#each collections.art}}
{{!-- TODO: Clean this up --}}
<script src="/art/{{data.slug}}/{{data.slug}}.js" type="module"></script>
{{/each}}